.card-container {
  display: flex;
  flex-wrap: wrap;
  width: 1240px;
  justify-content: center;
  gap: 60px;
  margin-top: 180px;

  a {
    text-decoration: none;
  }

  .card {
    cursor: pointer;
    height: 360px;
    width: 340px;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
    background: linear-gradient(
      180deg,
      rgb(255, 96, 96) 75%,
      rgba(0, 0, 0, 0.6) 100%
    );
    color: #fff;

    img {
      height: 320px;
      width: 300px;
      margin-left: 4px;
      border-radius: 10px;
    }

    h2 {
      font-size: 18px;
      font-weight: 400;
    }
  }
}
