.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1240px;

  margin-top: 100px;
  .image {
    height: 415px;
    width: 1240px;
    position: relative;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .image .fleches {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    font-size: 5rem;
    position: relative;
    bottom: 320px;
    color: white;
    font-size: 10rem;

    span {
      cursor: pointer;
      user-select: none;
    }
  }
  .cards-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #ff6060;
    position: relative;
    top: 120px;
    .collapse-container {
      display: flex;
      justify-content: space-between;
    }
    .head {
      position: relative;
      bottom: 120px;
      span {
        font-size: 18px;
        position: relative;
        bottom: 38px;
      }
      h2 {
        font-weight: 500;
        font-size: 36px;
        position: relative;
        bottom: 10px;
      }

      .tags {
        display: flex;
        list-style-type: none;
        gap: 10px;
        position: relative;
        bottom: 30px;
        right: 40px;
        li {
          background-color: #ff6060;
          color: white;
          min-width: 115px;
          height: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 14px;
          border-radius: 20px;
        }
      }
    }
  }
  .host {
    display: flex;
    gap: 20px;
    align-items: center;
    position: relative;
    bottom: 175px;
    right: 118px;
    span {
      max-width: 93px;
      text-align: right;
    }
    img {
      border-radius: 50%;
      height: 64px;
    }
  }
}
