.card-container {
  display: flex;
  flex-wrap: wrap;
  width: 1240px;
  justify-content: center;
  gap: 80px;
  margin-top: 180px;

  a {
    text-decoration: none;
  }

  .card {
    cursor: pointer;
    height: 340px;
    width: 340px;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
    background: linear-gradient(
      180deg,
      rgb(255, 96, 96) 75%,
      rgba(0, 0, 0, 0.6) 100%
    );
    color: #fff;

    img {
      height: 320px;
      width: 300px;
      margin-left: 4px;
      border-radius: 10px;
      object-fit: cover;
    }

    h2 {
      font-size: 18px;
      font-weight: 400;
    }
  }
}
@media (max-width: 375px) {
  .card-container {
    margin: 90px auto 0 auto;
    width: 336px;
    gap: 20px;
    .card {
      width: 100%;
      width: 335px;
      height: 280px;
      gap: 8px;
      display: flex;
      padding-top: 23px;

      img {
        margin: auto;
        height: 190px;
        width: 280px;
      }
      h2 {
        height: 52px;
      }
    }
  }
}
