.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1240px;
  margin: 100px 0 50px 0px;
  .image {
    height: 415px;
    width: 1240px;
    position: relative;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .image .fleches {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    position: relative;
    bottom: 280px;
    color: white;
    font-size: 6rem;

    span {
      cursor: pointer;
      user-select: none;
    }
  }
  .image-counter {
    color: white;
    padding: 5px;
    position: absolute;
    bottom: 20px;
    right: 47.9%;
    font-weight: 500;
  }

  .cards-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #ff6060;
    position: relative;
    top: 120px;
    .collapse-container {
      display: flex;
      justify-content: space-between;
    }
    .head {
      position: relative;
      bottom: 120px;
      span {
        font-size: 18px;
        position: relative;
        bottom: 38px;
      }
      h2 {
        font-weight: 500;
        font-size: 36px;
        position: relative;
        bottom: 10px;
      }

      .tags {
        display: flex;
        list-style-type: none;
        gap: 10px;
        position: relative;
        bottom: 30px;
        right: 40px;
        li {
          background-color: #ff6060;
          color: white;
          min-width: 115px;
          height: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 14px;
          border-radius: 20px;
        }
      }
    }
  }
  .host {
    display: flex;
    gap: 20px;
    align-items: center;
    position: relative;
    bottom: 175px;
    right: 170px;
    span {
      max-width: 93px;
      text-align: right;
    }
    img {
      border-radius: 50%;
      height: 64px;
    }
    .stars {
      height: 30px;
      width: 100px;
      position: relative;
      top: 60px;
      right: 175px;
      display: flex;
      flex-direction: row;
      gap: 6px;
      height: 24px;
      svg {
        height: 24px;
      }
      .stars-full {
        color: #ff6060;
      }

      .stars-empty {
        color: #e3e3e3;
      }
    }
  }
}

@media (max-width: 375px) {
  .cards-container {
    width: 335px;
    margin: 100px auto 50px auto;
    display: flex;
    justify-content: center;
    .image {
      height: 255px;
      width: 335px;
      position: relative;
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .image .fleches {
      display: flex;

      padding: 0 10px;
      font-size: 1.5rem;
      position: relative;
      bottom: 150px;
      color: white;
    }
    .image-counter {
      display: none;
    }
    .cards-block {
      width: 335px;
      .collapse-container {
        flex-direction: column;
        width: 335px;
      }
      .head {
        display: flex;
        flex-direction: column;

        h2 {
          font-size: 18px;
          width: 335px;
        }
        span {
          font-size: 14px;
          bottom: 22px;
        }
        .tags {
          max-width: 335px;

          li {
            font-size: 10px;
            min-width: 74px;
          }
        }
      }
    }
  }
}
