.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1240px;
  margin: 100px 0 50px 0px;
  .image {
    height: 415px;
    width: 1240px;
    position: relative;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .image .fleches {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    position: relative;
    bottom: 280px;
    color: white;
    font-size: 6rem;

    span {
      cursor: pointer;
      user-select: none;
    }
  }
  .image-counter {
    color: white;
    padding: 5px;
    position: absolute;
    bottom: 20px;
    right: 47.9%;
    font-weight: 500;
  }

  .cards-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #ff6060;
    position: relative;
    top: 120px;
    .collapse-container {
      display: flex;
      justify-content: space-between;
    }
    .head {
      position: relative;
      bottom: 120px;
      .host {
        display: flex;
        gap: 20px;
        align-items: center;
        left: 50px;
        position: relative;
        bottom: 155px;

        .profil {
          display: flex;
          align-items: center;
          margin-left: auto;

          span {
            font-size: 18px;
            position: relative;
            top: 6px;
            right: 40px;
            max-width: 20px;
            padding-right: 20px;
          }
          img {
            border-radius: 50%;
            height: 64px;
          }
        }

        .stars {
          height: 30px;
          width: 100px;
          position: relative;
          top: 60px;
          right: 175px;
          display: flex;
          flex-direction: row;
          gap: 6px;
          height: 24px;
          svg {
            height: 24px;
          }
          .stars-full {
            color: #ff6060;
          }

          .stars-empty {
            color: #e3e3e3;
          }
        }
      }

      h2 {
        font-weight: 500;
        font-size: 36px;
        position: relative;
        bottom: 10px;
      }

      .tags {
        display: flex;
        list-style-type: none;
        gap: 10px;
        position: relative;
        bottom: 30px;
        right: 40px;
        li {
          background-color: #ff6060;
          color: white;
          min-width: 115px;
          height: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 14px;
          border-radius: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 490px) {
  .cards-container {
    width: 375px;
    margin: 100px auto 50px auto;
    display: flex;
    justify-content: center;

    .image {
      height: 255px;
      width: 375px;
      position: relative;
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .image .fleches {
      display: flex;
      padding: 0 10px;
      font-size: 1.5rem;
      position: relative;
      bottom: 150px;
      color: white;
    }

    .image-counter {
      display: none;
    }

    .cards-block {
      width: 375px;

      .collapse-container {
        flex-direction: column;
        width: 375px;
      }

      .head {
        position: relative;
        bottom: 120px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        span {
          position: relative;
          bottom: 30px;
        }
        .host {
          display: flex;
          gap: 20px;
          align-items: center;
          justify-content: center;
          position: relative;
          bottom: 70px;

          .profil {
            display: flex;
            align-items: center;
            margin-left: auto;
            position: relative;
            top: 55px;
            left: 220px;
            gap: 15px;

            span {
              font-size: 12px;
              padding-left: 5px;
              margin-bottom: 10px;
              display: block;
              text-align: right;
              position: relative;
              left: 0px;
            }

            img {
              border-radius: 50%;
              height: 32px;
            }
          }

          .stars {
            margin-left: 20px;
            height: 30px;
            width: 100px;
            position: relative;
            top: 60px;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 6px;

            svg {
              height: 13px;
            }

            .stars-full {
              color: #ff6060;
            }

            .stars-empty {
              color: #e3e3e3;
            }
          }
        }

        h2 {
          font-weight: 500;
          font-size: 36px;
          position: relative;
          bottom: 10px;
        }

        .tags {
          display: flex;
          list-style-type: none;
          gap: 10px;
          position: relative;
          bottom: 30px;
          right: 40px;
          max-width: 335px;
          flex-wrap: wrap;

          li {
            background-color: #ff6060;
            color: white;
            min-width: 115px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 10px;
            border-radius: 20px;
          }
        }
      }
    }
  }
}
