/* Styles communs pour les collapses */

.description {
  position: relative;
  bottom: 140px;
  background-color: #ff6060;
  color: white;
  font-size: 1em;
  font-weight: 300;

  height: 52px;
  padding: 0 20px;
  border-radius: 10px;
  margin-right: 40px;

  width: 560px;
}

.description .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 52px;
  cursor: pointer;
}

.description .toggle {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;

  .content {
    width: 500px;
    color: #ff6060;
  }
}

.description .toggle.open {
  max-height: 200px;
  transition: max-height 0.5s ease;
}

.description .chevron {
  display: inline-block;
  transition: transform 0.5s ease;
}

.description .chevron.up {
  transform: rotate(-180deg);
}

/* Style spécifique pour la page "About" */
.collapses-container {
  display: flex;
  flex-direction: column;
  margin: 80px 0 120px 0;
}

.collapses-container .about-collapse {
  width: 1023px;
  margin: 20px 0;
  left: 50%;
  top: 100px;
  position: relative;
  transform: translate(-50%);

  .toggle {
    transition: 0.5s ease;

    .content {
      transition: 0.5s ease;
      position: relative;
      width: 850px;

      &.open {
        opacity: 1;
        transition: 0.5s ease;
      }
    }
  }
}

.collapses-container .about-collapse.open {
  margin-bottom: 100px;
}

@media screen and (max-width: 767px) {
  .description {
    width: auto;
    height: auto;
    font-size: 13px;
    margin: 10px 0;
    bottom: 110px;
    padding: 0;

    .title {
      margin: 0 10px;

      h2 {
        font-size: 13px;
        font-weight: 400;
      }
    }

    .toggle {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s ease;

      .content {
        width: auto;
        color: #ff6060;
        padding: 20px 40px;
        position: relative;
        bottom: 20px;
        right: 10px;
      }
    }

    .toggle.open {
      max-height: 230px;
      transition: max-height 0.5s ease;
      background-color: white;
      position: relative;
      right: 0px;
      width: 335px;
    }
  }

  .collapses-container .about-collapse.open {
    margin-bottom: 0px;
  }

  .collapses-container {
    .about-collapse {
      width: 335px;

      margin: 10px 0;
      left: 50%;
      top: 0px;
      position: relative;
      transform: translate(-50%);

      .toggle {
        transition: 0.5s ease;

        .content {
          transition: 0.5s ease;
          position: relative;
          width: 850px;
          right: 30px;
          width: auto;
          &.open {
            opacity: 1;
            transition: 0.5s ease;
          }
        }
      }
    }
  }
}
