.description {
  position: relative;
  bottom: 150px;
  background-color: #ff6060;
  color: white;
  font-size: 1em;
  font-weight: 300;
  align-items: center;
  height: 52px;
  width: 562px;
  padding: 0 20px;
  border-radius: 10px;
  margin-right: 40px;
  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    bottom: 7px;
    cursor: pointer;
  }
  .toggle {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.1s ease;
    p {
      width: 500px;
      color: #ff6060;
    }
  }

  .toggle.open {
    max-height: 150px;
    transition: max-height 0.5s ease;
  }
  .chevron {
    display: inline-block;
    transition: transform 0.5s ease;
  }
  .chevron.up {
    transform: rotate(180deg);
  }
}
