.description {
  // Styles communs pour les collapses
  position: relative;
  bottom: 150px;
  background-color: #ff6060;
  color: white;
  font-size: 1em;
  font-weight: 300;
  align-items: center;
  height: 52px;
  width: 562px;
  padding: 0 20px;
  border-radius: 10px;
  margin-right: 40px;

  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    bottom: 7px;
    cursor: pointer;
  }

  .toggle {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s ease;

    p {
      width: 500px;
      color: #ff6060;
    }
  }

  .toggle.open {
    max-height: 150px;
    transition: max-height 0.5s ease;
  }

  .chevron {
    display: inline-block;
    transition: transform 0.5s ease;
  }

  .chevron.up {
    transform: rotate(180deg);
  }
}

// Style spécifique pour la page "About"
.about-collapse {
  width: 1023px;
  margin: 40px 0;
  left: 50%;
  transform: translate(-50%);
  position: relative;
  top: 100px;

  .toggle {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;

    &.open {
      max-height: 200px;
      margin-bottom: 20px;
      padding-bottom: 20px;
      position: absolute;
    }

    .content {
      transition: 0.5s ease;
      position: relative;
      bottom: 30px;

      &.open {
        opacity: 1;
      }
    }
  }
}
