.texte {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ff6060;
  margin-bottom: 50px;
  width: 1240px;
  h1 {
    font-size: 13rem;
  }
  .subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
    p {
      font-size: 36px;
    }
    a {
      color: #ff6060;
      span {
        font-size: 18px;
      }
    }
  }
}
@media (max-width: 375px) {
  .texte {
    width: 335px;
    margin: 100px auto;
    h1 {
      font-size: 4rem;
    }
    .subtitle {
      p {
        font-size: 18px;

        margin-left: 60px;
        line-height: 25px;
      }
      a {
        span {
          font-size: 14px;
        }
      }
    }
  }
}
