@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

body {
 
  padding: 0;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  width: 1440px;
  height: 100vh;
  display: flex;
  justify-content: center;
}
